doctype html
html
  head
    meta(charset='UTF-8')
    title Juego
    head
      script(src='https://cdn.socket.io/socket.io-1.3.7.js')
      script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
      script(type='application/javascript', src='javascripts/js.js')
      style(type='text/css').
        * {
        text-align: center;
        }
        
        img {
        visibility: hidden;
        }

        li{
        margin:0px;
        border:1px solid black;
        background-color: white;
        float:left;
        width:100px;
        height:100px;
        border-radius:4%;
        list-style:none;

        }
        ul{
        margin: 0px;
        border: 0px;
        }
        #caja{ 
        margin: auto auto;
        border: 2px solid black;
        border-radius: 2%;
        background-color: grey;
        width:740px;
        height:715px;
        
        }
  body
    h1 Buscaminas de Alejandro
    h3 El jugador que de con la bomba pierde!!!
    h4
    h5#b
    h5#p
    h5#pp
    h5#y
    h5#g
    h5#r
    h1#marca
    ul#caja
      li#casilla1
      li#casilla2
      li#casilla3
      li#casilla4
      li#casilla5
      li#casilla6
      li#casilla7
      li#casilla8
      li#casilla9
      li#casilla10
      li#casilla11
      li#casilla12
      li#casilla13
      li#casilla14
      li#casilla15
      li#casilla16
      li#casilla17
      li#casilla18
      li#casilla19
      li#casilla20
      li#casilla21
      li#casilla22
      li#casilla23
      li#casilla24
      li#casilla25
      li#casilla26
      li#casilla27
      li#casilla28
      li#casilla29
      li#casilla30
      li#casilla31
      li#casilla32
      li#casilla33
      li#casilla34
      li#casilla35
      li#casilla36
      li#casilla37
      li#casilla38
      li#casilla39
      li#casilla40
      li#casilla41
      li#casilla42
      li#casilla43
      li#casilla44
      li#casilla45
      li#casilla46
      li#casilla47
      li#casilla48
      li#casilla49
     
