doctype html
html
  head
    meta(charset='UTF-8')
    title Juego
    head
      script(src='https://cdn.socket.io/socket.io-1.3.7.js')
      script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
      script(type='application/javascript', src='javascripts/js.js')
      script(type='application/javascript', src='javascripts/tablero.js')
      style(type='text/css').
        * {
        text-align: center;
        }

        li{
        margin:0px;
        border:1px solid black;
        background-color: white;
        float:left;
          width:100px;
        height:100px;
        border-radius:100%;
        list-style:none;

        }
        ul{
        margin: 0px;
        border: 0px;
        }
        #caja{ 
        margin: auto auto;
        border: 2px solid black;
        border-radius: 2%;
        background-color: grey;
        width:740px;
        height:715px;
        
        }
  body
    h1 Buscaminas de Alejandro
    h3 El jugador que de con la bomba pierde!!!
    h4
    h5#b
    h5#p
    h5#pp
    h5#y
    h5#g
    h5#r
    h1#marca
    ul#caja
      li#canvas1
      li#canvas2
      li#canvas3
      li#canvas4
      li#canvas5
      li#canvas6
      li#canvas7
      li#canvas8
      li#canvas9
      li#canvas10
      li#canvas11
      li#canvas12
      li#canvas13
      li#canvas14
      li#canvas15
      li#canvas16
      li#canvas17
      li#canvas18
      li#canvas19
      li#canvas20
      li#canvas21
      li#canvas22
      li#canvas23
      li#canvas24
      li#canvas25
      li#canvas26
      li#canvas27
      li#canvas28
      li#canvas29
      li#canvas30
      li#canvas31
      li#canvas32
      li#canvas33
      li#canvas34
      li#canvas35
      li#canvas36
      li#canvas37
      li#canvas38
      li#canvas39
      li#canvas40
      li#canvas41
      li#canvas42
      li#canvas43
      li#canvas44
      li#canvas45
      li#canvas46
      li#canvas47
      li#canvas48
      li#canvas49
     
